@charset "utf-8";

@import "~bulma/bulma";

$checkboxSize: 24px;

$checkboxPadding: ceil($checkboxSize / 10);
$checkboxWidth: ceil(1.8 * $checkboxSize +  2 * $checkboxPadding);
$checkboxHeight: ceil($checkboxSize + 2 * $checkboxPadding);
$borderRadius: ceil($checkboxHeight / 2);

$background-color: $white;
$border-color: $grey-lighter;
$hover-border-color: $grey-light;

.nicecheckbox {
  span {
    width: $checkboxWidth;
    height: $checkboxHeight;
    border-radius: $borderRadius;
    padding: $checkboxPadding;
    background: $background-color;
    border: 1px solid $border-color;
    box-shadow: $input-shadow;
    display: flex;
    position: relative;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      border-color: $hover-border-color;
    }
  }

  span:after {
    content: '';
    width: $checkboxSize;
    height: $checkboxSize;
    background: $blue;
    border-radius: $checkboxSize / 2;
    position: absolute;
    transition: all .3s;
    top: $checkboxPadding - 1px;
    left: $checkboxPadding - 1px;
  }

  > input[type="checkbox"] {
    display: none;

    &:checked + span{
      background: $blue;
      border-color: $blue;

      &:after {
        background: $white-bis;
        left: $checkboxWidth - $checkboxSize - $checkboxPadding;
        justify-self: flex-end;
      }
    }
  }


}
