<template>
  <div>
    <section class="hero">
      <div class="hero-body">
        <div class="container is-fluid">
          <h1 class="title">
            Gratification Service
          </h1>
        </div>
      </div>
    </section>
    <router-view/>
  </div>
</template>

<style lang="scss">
@import "assets/styles/main";
</style>
