<template>
  <div class="container is-fluid">
    <div class="columns">
      <aside class="column is-2 menu">
        <h1 class="heading">
          <span class="icon has-text-info">
            <i class="fas fa-user"></i>
          </span>
          {{user && user.login}}
        </h1>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li><router-link :to="{name: 'projects'}" active-class="is-active">Projects</router-link></li>
        </ul>
        <p class="menu-label">
          Account
        </p>
        <ul class="menu-list">
          <li><router-link :to="{name: 'tokens'}" active-class="is-active">Tokens</router-link></li>
          <li><a href="/docs" target="_blank">
            API Docs
            <span class="icon has-text-info"><i class="fas fa-external-link-alt"></i></span>
          </a></li>
          <li><a @click="logout()">Logout <span class="icon has-text-danger"><i class="fas fa-sign-out-alt"></i></span></a></li>
        </ul>
      </aside>
      <div class="column">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, State } from 'vuex-class';
import { User } from '../../../service/src/modules/user/user.entity';
import { logout } from '../services/auth.service';
import config from '../config';

@Component({})
export default class Authenticated extends Vue {
  @State('user') user: User;
  @Action fetchUserData: () => Promise<void>;

  async created() {
    await this.fetchUserData();
  }

  async logout() {
    try {
      await logout();
    } catch (e) {

    }
    this.$router.push({ name: 'login' });
  }
}
</script>
