<template>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="box">
        <router-link :to="{ name: 'login' }" tag="button" class="button is-pulled-right is-link is-outlined">Login</router-link>
        <p class="title">Registration</p>
        <p class="subtitle">Here you can register your new account</p>
        <form @submit.prevent="onSubmit">
          <div class="field">
            <label for="username" class="label">Username</label>
            <div class="control">
              <input type="text" class="input" id="username" v-model="username">
            </div>
          </div>
          <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control">
              <input type="password" class="input" id="password" v-model="password">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-link" :class="{'is-loading': loading}">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { register } from '../services/auth.service';

@Component({})
export default class Register extends Vue {
  username: string = '';
  password: string = '';
  loading: boolean = false;

  async onSubmit() {
    this.loading = true;
    try {
      await register(this.username, this.password);
      this.$router.push({ name: 'login' });
    } catch (e) {
      alert('There was an error with registration');
    }
    this.loading = false;
  }
}
</script>
