<template>
  <div>
    <a class="button is-primary"
       v-if="achievements.length > 0"
       @click="showForm = !showForm"
    >
      New achievement
    </a>

    <div v-if="showForm || achievements.length === 0">
      <article class="message is-warning">
        <div class="message-header">
          <p>Warning</p>
        </div>
        <div class="message-body">
          Currently only available through API call
        </div>
      </article>
      <div class="title is-5">Add new achievement</div>
      <form @submit.prevent="createNew">
        <!-- Name -->
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" v-model="newAchievement.name" disabled>
              </div>
            </div>
          </div>
        </div>
        <!-- Description -->
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Description</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" v-model="newAchievement.description" disabled>
              </div>
            </div>
          </div>
        </div>
        <!-- Continuous -->
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Continuous</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox" v-model="newAchievement.continuous" disabled>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label"></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-link" :class="{'is-loading': isCreating}" :disabled="isCreating" type="submit" disabled>Create</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="box" v-for="achievement in achievements" :key="achievement.id">
      <div class="content">
        <p>
          <strong>{{achievement.name}}</strong> &nbsp;<small>{{achievement.id}}</small>
        </p>
        <p>
          {{achievement.description}}
        </p>
        <p>
          <strong>triggered by</strong> {{achievement.triggeredBy}}
        </p>
        <p>
          <strong>rules</strong>
        </p>
        <ul>
          <li v-for="rule in achievement.rules">{{rule}}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { getAchievements } from '../../../services/user.service';

@Component({})
export default class Achievements extends Vue {
  achievements = [];
  showForm = false;
  isCreating = false;
  newAchievement = {
    name: '',
    description: '',
    continuous: false
  };

  get projectId() {
    return this.$route.params.id;
  }

  async created() {
    this.achievements = await getAchievements(this.projectId);
  }

  async createNew() {

  }

}
</script>
