<template>
  <table class="table">
    <thead>
      <tr>
        <th>Actor Id</th>
        <th>Has achievements</th>
        <th>Achievements</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="actor in actors">
        <td>{{actor.localId}}</td>
        <td>{{actor.hasAchievements}}</td>
        <td>{{achievements(actor)}}</td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { getActors } from "../../../services/user.service";
import { Actor } from "../../../../../service/src/modules/api/actor/actor.entity";

@Component({})
export default class Actors extends Vue {
  actors = [];

  get projectId() {
    return this.$route.params.id;
  }

  get achievements() {
    return (actor: Actor) => {
      return actor.acquiredAchievements
        .map(achievement => ({
          name: achievement.achievement.name,
          level: achievement.level
        }))
        .map(info => `${info.name} [${info.level}]`)
        .join(', ')
    }
  }

  async created() {
    this.actors = await getActors(this.projectId);
  }

}
</script>
