<template>
  <table class="table">
    <thead>
      <tr>
        <th>Task Id</th>
        <th>Actor Id</th>
        <th>Occurred At</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="event in events">
        <td>{{event.taskId}}</td>
        <td>{{event.actorId}}</td>
        <td>{{formatDate(event.occurredAt)}}</td>
        <td>{{event.data}}</td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { getEvents } from '../../../services/user.service';

@Component({})
export default class Events extends Vue {
  events = [];

  async created() {
    this.events = await getEvents(this.$route.params.id);
  }

  formatDate(dateString: string) {
    return new Date(dateString).toLocaleString();
  }

}
</script>
