<template>
  <div>
    <div v-if="showNewGroupForm">
      <div class="title is-5">Add new group</div>
      <form @submit.prevent="createGroup">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" v-model="newGroup.name">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Description</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" v-model="newGroup.description">
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label"></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-link" :class="{'is-loading': isCreating}" :disabled="isCreating || !newGroup.name || !newGroup.description" type="submit">Create</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="columns">
      <div class="column">
        <a class="button is-primary" @click="onNewGroupClicked">New group</a>

        <aside class="column menu" v-if="groups.length > 0">
          <p class="menu-label">
            Groups
          </p>
          <ul class="menu-list">
            <li v-for="group in groups"><router-link :to="{ name: 'group', params: {groupId: group.id} }" active-class="is-active" :title="group.description">{{group.name}}</router-link></li>
          </ul>
        </aside>
      </div>
      <div class="column" v-if="groupId">
        <a class="button is-primary" @click="onNewTaskClicked">New task</a>

        <aside class="column menu" v-if="tasks.length > 0">
          <p class="menu-label">
            Tasks
          </p>
          <ul class="menu-list">
            <li v-for="task in tasks"><router-link :to="{ name: 'task', params: {taskId: task.id} }" active-class="is-active">{{task.name}}</router-link></li>
          </ul>
        </aside>
      </div>
    </div>


    <div v-if="showNewTaskForm">
      <div class="title is-5">Add new task</div>
      <form @submit.prevent="createTask">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" v-model="newTask.name">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Local Task Id</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" v-model="newTask.taskId">
              </div>
            </div>
          </div>
        </div>
        <!-- META -->
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Metadata</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button" @click.prevent="newTask.meta.push([])">Add new constant metadata</button>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal" v-for="(metaPair, i) of newTask.meta">
          <div class="field-label"></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" v-model="metaPair[0]">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input" type="text" v-model="metaPair[1]">
              </div>
            </div>
            <button
              class="delete is-small is-pulled-right"
              @click.prevent="newTask.meta = newTask.meta.filter((_, index) => i !== index)"></button>
          </div>
        </div>
        <!-- / META -->

        <!-- PROVIDES -->
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Provides</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button" @click.prevent="newTask.provides.push([])">Add new event provided property</button>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal" v-for="(provide, i) of newTask.provides">
          <div class="field-label"></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" v-model="provide[0]">
              </div>
            </div>
            <button
              class="delete is-small is-pulled-right"
              @click.prevent="newTask.provides = newTask.provides.filter((_, index) => i !== index)"></button>
          </div>
        </div>
        <!-- / PROVIDES -->

        <div class="field is-horizontal">
          <div class="field-label"></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-link" :class="{'is-loading': isCreating}" :disabled="isCreating" type="submit">Create new task</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { addGroup, addTask, getGroups, getTasks } from "../../../services/user.service";

@Component({})
export default class GroupsList extends Vue {
  groups = [];
  tasks = [];

  isNewGroupClicked: boolean = false;
  isNewTaskClicked: boolean = false;
  isCreating: boolean = false;
  newGroup = {
    name: '',
    description: ''
  };
  newTask = {
    name: '',
    taskId: '',
    meta: [],
    provides: []
  };

  lastGroupId: string;

  get projectId() {
    return this.$route.params.id
  }

  get groupId() {
    return this.$route.params.groupId
  }

  async created() {
    this.groups = await getGroups(this.projectId) || [];
    if (this.groupId) {
      this.tasks = await getTasks(this.projectId, this.groupId) || [];
    }
  }

  async beforeUpdate() {
    if (this.lastGroupId !== this.groupId) {
      this.tasks = await getTasks(this.projectId, this.groupId);
      this.lastGroupId = this.groupId;
    }
  }

  get showNewGroupForm() {
    return this.groups.length === 0 || this.isNewGroupClicked;
  }

  get showNewTaskForm() {
    return this.groupId && (this.tasks.length === 0 || this.isNewTaskClicked);
  }

  onNewGroupClicked() {
    this.isNewGroupClicked = !this.isNewGroupClicked;
  }

  onNewTaskClicked() {
    this.isNewTaskClicked = !this.isNewTaskClicked;
  }

  async createGroup() {
    this.isCreating = true;
    try {
      await addGroup(this.projectId, this.newGroup.name, this.newGroup.description);
      this.newTask = {
        name: '',
        taskId: '',
        meta: [],
        provides: []
      };
      this.groups = await getGroups(this.projectId);
    } catch (e) {

    }
    this.isCreating = false;
  }

  async createTask() {
    this.isCreating = true;

    const task = {
      name: this.newTask.name,
      taskId: this.newTask.taskId,
      meta: this.newTask.meta
        .filter(pair => !!pair[0])
        .map(pair => ({ [pair[0]]: pair[1] || '' }))
        .reduce((obj, value) => Object.assign(obj, value), {}),
      provides: this.newTask.provides.map(arr => arr[0])
    };

    try {
      await addTask(this.projectId, this.groupId, task);
      this.newTask = {
        name: '',
        taskId: '',
        meta: [],
        provides: []
      };
      this.tasks = await getTasks(this.projectId, this.groupId);
      this.isNewTaskClicked = false;
    } catch (e) {

    }
    this.isCreating = false;
  }

}
</script>
