<template>
  <div>
    <div><strong>Callback URL</strong>: {{project.callbackUrl}}</div>
    <div><strong>Is being A/B tested</strong>: {{project.isABTested}}</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { getProject } from "../../../services/user.service";
import { Project } from "../../../../../service/src/modules/api/project/project.entity";

@Component({})
export default class Overview extends Vue {

  project: Project = {} as Project;

  get projectId() {
    return this.$route.params.id;
  }

  async created() {
    this.project = await getProject(this.projectId);
  }
}
</script>
