<template>
  <div>
    <div class="content">
      <h1>Project: {{project.name}}</h1>
    </div>
    <div class="tabs">
      <ul>
        <router-link tag="li" :to="{ name: 'overview' }" active-class="is-active">
          <a>Overview</a>
        </router-link>
        <router-link tag="li" :to="{ name: 'groups' }" active-class="is-active">
          <a>Groups</a>
        </router-link>
        <router-link tag="li" :to="{ name: 'achievements' }" active-class="is-active">
          <a>Achievements</a>
        </router-link>
        <router-link tag="li" :to="{ name: 'events' }" active-class="is-active">
          <a>Events</a>
        </router-link>
        <router-link tag="li" :to="{ name: 'actors' }" active-class="is-active">
          <a>Actors</a>
        </router-link>
      </ul>
    </div>
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { getProject } from '../../../services/user.service';

@Component({})
export default class Project extends Vue {

  project = {};

  async created() {
    this.project = await getProject(this.$route.params.id);
  }
}
</script>
