<template>
  <div>
    <div class="title is-5">Task</div>
    {{task}}
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { getTask } from "../../../services/user.service";

  Component.registerHooks([
    'beforeRouteEnter',
    'beforeRouteLeave',
    'beforeRouteUpdate'
  ]);

  @Component({})
  export default class GroupsList extends Vue {
    task = {};
    lastTaskId: string;

    get projectId() {
      return this.$route.params.id;
    }

    get groupId() {
      return this.$route.params.groupId;
    }

    get taskId() {
      return this.$route.params.taskId;
    }

    async created() {
      this.task = await getTask(this.projectId, this.groupId, this.taskId);
    }

    async beforeRouteUpdate(to, from, next) {
      this.task = await getTask(to.params.id, to.params.groupId, to.params.taskId);
      next();
    }
  }
</script>
