<template>
  <div class="columns">
    <div class="column is-half content" v-if="projects.length > 0">
      <div class="title is-4">Projects</div>
      <ul>
        <li v-for="project in projects" :key="project.id">
          <router-link exact :to="{ name: 'groups', params: { id: project.id } }">{{project.name}}</router-link>
        </li>
      </ul>
    </div>
    <div class="column is-half" v-if="showNewProjectForm">
      <div class="title is-4">New Project</div>
      <form @submit.prevent="createProject">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Project name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" v-model="project.name">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Callback URL</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" v-model="project.callbackUrl">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="abtested">Is AB tested?</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <label class="nicecheckbox">
                  <input id="abtested" type="checkbox" v-model="project.isABTested">
                  <span></span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label"></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-link" :class="{'is-loading': isCreating}" :disabled="isCreating" type="submit">Create</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, State } from 'vuex-class';
import { User } from '../../../../service/src/modules/user/user.entity';
import { createProject } from '../../services/user.service';

@Component({})
export default class ProjectsList extends Vue {
  @State('user') user: User;

  isCreating: boolean = false;
  isNewProjectFormShown: boolean = false;
  tokens: any[] = [];
  project = {
    name: '',
    callbackUrl: null,
    isABTested: false
  };

  @Action fetchUserData: () => Promise<void>;

  get projects() {
    return !!this.user ? this.user.projects : [];
  }

  get showNewProjectForm() {
    return this.projects.length === 0 || this.isNewProjectFormShown || true; // TODO add button to toggle state
  }

  async createProject() {
    this.isCreating = true;
    try {
      await createProject({
        name: this.project.name,
        callbackUrl: this.project.callbackUrl,
        isABTested: this.project.isABTested
      });
      this.project = {
        name: '',
        callbackUrl: null,
        isABTested: false
      };
      await this.fetchUserData();
    } catch (e) {
    }
    this.isCreating = false;
  }
}
</script>
