<template>
  <div class="content">
    <div class="title is-4">Tokens</div>
    <ul>
      <li v-for="token in tokens" :key="token.token">
        <div><strong>{{token.createdDate}}</strong></div>
        <div>
          by {{token.userAgent}}
        </div>
         <div>token: {{token.token}}  <button v-if="token.token !== authToken" class="delete is-small" @click="revoke(token.token)"></button></div>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State } from 'vuex-class';
import { getTokens, revokeToken } from '../../services/auth.service';

@Component({})
export default class Tokens extends Vue {
  @State('token') authToken: string;
  tokens: any[] = [];

  async created() {
    this.tokens = await getTokens();
  }

  async revoke(token: string) {
    await revokeToken(token);
    this.tokens = await getTokens();
  }
}
</script>
